{% extends "layout.html" %}

{% block content %}

<div class="text-center mb-10">
    <h1 class="display-4">Create Election Corpus:</h1>
</div>

<div class=row>
    <div class="card col-sm-6">
        <div class="card-body">
            <form method="post" action="{{ url_for('download_corpus')}}">
                <div class="col-sm-12 mb-3">
                    <select class="form-select" aria-label="Default select example" name="TwitterId">
                        <option selected>Select one Candidate:</option>
                        {% for key,value in candidate_list.items(): %}
                        <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <label>From</label>
                        <input type="date" class="form-control" name="DateFrom" value="{{ DateFrom }}">
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label>To</label>
                        <input type="date" class="form-control" name="DateTo" value="{{ DateTo }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <button type="submit" class="btn btn-primary">Download</button>
                    </div>
                    <!-- <div class="col-sm-6">
                        <button type="submit" class="btn btn-dark" formaction="{{ url_for('show_plot') }}">Show</button>
                    </div> -->
                </div>
            </form>
        </div>
    </div>

    <div class="card col-sm-6">
        <div class="card-body">
            <form method="post" action="{{ url_for('download_youtube') }}">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" name="Url" class="form-control" placeholder="Youtube Video Url" aria-label="Url" aria-describedby="basic-addon1">
                </div>
                <!--<div class="row">
                    <div class="col-sm-6 mb-3">
                        <label>From</label>
                        <input type="date" class="form-control" name="DateFrom" value="{{ DateFrom }}">
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label>To</label>
                        <input type="date" class="form-control" name="DateTo" value="{{ DateTo }}">
                    </div>
                </div>-->
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Download</button>
                </div>
            </form>
        </div>
    </div>


</div>
<div>
    {% for tweet in tweets %}
    <div>
        tweet
    </div>
    <div>
        tweet['tweet_text']
    </div>
    {% endfor %}
</div>

{% endblock %}
